
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    background-color: #f4f8fb;
}


header {
    width: 100%;
    background-color: #007acc;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 30;
    height: 40px;
    z-index: 40;
}

header .logo { font-size: 1.8rem; font-weight: bold; }
header nav ul { list-style: none; display: flex; gap: 1rem; margin: 0; }
header nav ul li a { color: white; text-decoration: none; font-weight: 600; }


.container {
    display: flex;
    width: 100%;
    margin-top: 100px; 
}


.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 220px;
    height: calc(100% - 60px);
    background-color: #e6f0fa;
    padding-top: 1rem;
}
.sidebar ul { list-style: none; padding: 0; margin: 0; }
.sidebar ul li { padding: 0.8rem 1.2rem; }
.sidebar ul li.active { background-color: #cce5ff; font-weight: bold; }
.sidebar ul li a { text-decoration: none; color: #333; font-weight: 500; }


main {
    margin-left: 240px;              
    padding: 1.5rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: calc(100vh - 60px);
}


.main-form {
    background: white;
    padding: 7rem;                  
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    width: 100%;
    max-width: 500px; 

}

.main-form h1 {
    color: #007acc;
    text-align: center;
    font-size: 1.9rem;
     margin-top: 0px;
    
}


form label {
    display: block;
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
    font-weight: 400;
    font-size: 0. nine-five rem;
    
}

form input[type="text"],
form textarea,
form input[type="file"] {
    width: 100%;
    padding: 0.4rem;                
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 0. nine-five rem;
}

form textarea {
    resize: vertical;
    height: 100px;                 
}

form button {
    margin-top: 1rem;
    background-color: #007acc;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0. nine-five rem;
    display: block;
    margin-left: auto;
}
form button:hover {
    background-color: #005f99;
}
